<ion-view title="Lengths And Plots Calculator" id="page1">
  <ion-content padding="true" class="has-header">
    <a ui-sref="about" id="lengthsAndPlotsCalculator-button2" class="button button-positive  button-block">About</a>
    <a ui-sref="expressionMode" id="lengthsAndPlotsCalculator-button3" class="button button-positive  button-block">Expression
      Mode</a>
    <a ui-sref="dynamicMode" id="lengthsAndPlotsCalculator-button4" class="button button-positive  button-block">Dynamic
      Mode</a>
    <a ui-sref="unitMode" id="lengthsAndPlotsCalculator-button1" class="button button-positive  button-block">Unit
      Mode</a>
    <a ui-sref="plotCalculator" id="lengthsAndPlotsCalculator-button5" class="button button-positive  button-block">Plot
      Area Calculator</a>
  </ion-content>
</ion-view>
