<ion-view title="Lengths And Plots Convertor" id="page1">
  <ion-content padding="true" class="has-header">
    <a ui-sref="about" id="lengthsAndPlotsConvertor-button2" class="button button-positive  button-block">About</a>
    <a ui-sref="expressionMode" id="lengthsAndPlotsConvertor-button3" class="button button-positive  button-block">Expression Mode</a>
    <a ui-sref="dynamicMode" id="lengthsAndPlotsConvertor-button4" class="button button-positive  button-block">Dynamic Mode</a>
    <a ui-sref="unitMode" id="lengthsAndPlotsConvertor-button1" class="button button-positive  button-block">Unit Mode</a>
  </ion-content>
</ion-view>