<ion-view title="Plot Calculator" id="page7">
  <ion-content padding="true" class="has-header">
    <form id="plotCalculator-form6" class="list">
      <label class="item item-input" id="plotCalculator-input14">
        <span class="input-label">Width</span>
        <input type="number" placeholder="in foot">
      </label>
      <div class="spacer" style="width: 300px; height: 13px;"></div>
      <label class="item item-input" id="plotCalculator-input15">
        <span class="input-label">Length</span>
        <input type="number" placeholder="in foot">
      </label>
      <div class="spacer" style="width: 300px; height: 13px;"></div>
      <div id="plotCalculator-markdown2" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Some friendly</p>
      </div>
    </form>
  </ion-content>
</ion-view>