<ion-view title="Unit Mode" id="page6">
  <ion-content padding="true" class="has-header">
    <form id="unitMode-form3" class="list">
      <label class="item item-input" id="unitMode-input11">
        <span class="input-label">Input</span>
        <input ng-model="form.input" ng-change="update('0',0)" type="number" placeholder="">
      </label>
      <label class="item item-select" id="unitMode-select1" name="Lengths">
        <span class="input-label">Unit</span>
        <select ng-model="inputUnit" ng-change="update(inputUnit,1)" ng-options="x for x in options">
        </select>
      </label>
    </form>
    <div class="spacer" style="width: 300px; height: 25px;"></div>
    <form id="unitMode-form5" class="list">
      <label class="item item-select" id="unitMode-select3" name="Lengths">
        <span class="input-label">Output Unit</span>
        <select ng-model="outputUnit" ng-change="update(outputUnit,2)" ng-options="x for x in options">
        </select>
      </label>
    </form>
    <div class="spacer" style="width: 300px; height: 13px;"></div>
    <div id="ans">
      {{form.output}}
    </div>
  </ion-content>
</ion-view>
