<ion-view title="Unit Mode" id="page6">
  <ion-content padding="true" class="has-header">
    <form id="unitMode-form3" class="list">
      <label class="item item-input" id="unitMode-input11">
        <span class="input-label">Input</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-select" id="unitMode-select1" name="Lengths">
        <span class="input-label">Unit</span>
        <select>
          <option>Inch</option>
          <option>Meter</option>
          <option>Km</option>
          <option>Yard</option>
          <option>Foot</option>
          <option>Mile</option>
        </select>
      </label>
    </form>
    <div class="spacer" style="width: 300px; height: 86px;"></div>
    <form id="unitMode-form5" class="list">
      <label class="item item-input" id="unitMode-input13">
        <span class="input-label">Output</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-select" id="unitMode-select3" name="Lengths">
        <span class="input-label">Unit</span>
        <select>
          <option>Inch</option>
          <option>Meter</option>
          <option>Km</option>
          <option>Yard</option>
          <option>Foot</option>
          <option>Mile</option>
        </select>
      </label>
    </form>
  </ion-content>
</ion-view>